<ion-content>
    <div class="main_content_div">
        <form (ngSubmit)="newPassword()()" [formGroup]="passwordForm">
        
            <ion-icon name="chevron-back" class="back_btn" (click)="goToBack()"></ion-icon>
            <ion-label class="head_lbl">Change Password ?</ion-label>
            <ion-label class="grey_lbl">provide a new memorable password</ion-label>
            <ion-input type="password" formControlName="password" placeholder="New Password">
                <ion-icon name="lock-open-outline"></ion-icon>
            </ion-input>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <div></div>
            <ion-input type="password" formControlName="password_confirmation" placeholder="Confirm Password">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>
            <p></p>
            <p></p>
            <ion-button expand="block" shape="round" type="submit" [disabled]="!passwordForm.valid">
              Change Password
            </ion-button>
            </form>
    </div>
  
    <ion-spinner *ngIf="loading" name="crescent" class="ion-text-center"></ion-spinner>
</ion-content>
