.main_content_div {
    width: 100%;
    padding: 16px;
    // margin-top: 40px;
    .back_btn {
        margin-top: 40px;
        font-size: 30px;
    }

    ion-label {
        display: block;
    }

    .head_lbl {
        font-size: 26px;
        font-family: 'semi-bold';
        margin-bottom: 16px;
        margin-top: 30px;
    }
    .grey_lbl {
        color: grey;
        font-size: 14px;
        margin-bottom: 20px;
    }

    // ion-input {
    //     border-bottom: 1px solid lightgrey;
    //     --padding-start: 8px;
    //     --padding-end: 8px;
    //     font-family: 'regular';
    //     ion-icon {
    //         font-size: 24px;
    //     }
    // }
    .stepper_div {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ion-icon {
            font-size: 22px !important;
            color: gray;
        }

        ion-label {
            display: flex;
            justify-content: space-between;
            width: 20%;
            color: gray;
        }

        .activeTab {
            color: var(--ion-color-primary) !important;
            ion-icon {
                color: var(--ion-color-primary) !important;
            }
            ion-label {
                color: var(--ion-color-primary) !important;
            }
        }
    }

    ion-button{
        margin: 0;
        margin-top: 30px;
    }

    // .sc-ion-input-md-h{
    //     border:2px solid grey;
    //     border-radius: 5px;
    //     padding-left: 10px !important;
    // }
}