<ion-content>
  <div class="main_content_div">
      <form (ngSubmit)="sendCategory()" [formGroup]="categoryForm">
      
      <!-- <ion-icon name="chevron-back" class="back_btn" (click)="goToBack()"></ion-icon> -->
      <ion-label class="head_lbl">Category</ion-label>
      <div class="stepper_div">
        <ion-icon name="person-add-outline" [class.activeTab]="tabID >= 1"></ion-icon>
        <ion-label [class.activeTab]="tabID >= 2">
            <span>•</span>
            <span>•</span>
            <span>•</span>
            <span>•</span>
        </ion-label>
        <ion-icon name="filter-circle-outline" [class.activeTab]="tabID >= 2"></ion-icon>
        <ion-label [class.activeTab]="tabID == 3">
            <span>•</span>
            <span>•</span>
            <span>•</span>
            <span>•</span>
        </ion-label>
        <ion-icon name="pricetags-outline" [class.activeTab]="tabID == 3"></ion-icon>
    </div>
      <ion-item >
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" formControlName="name" >
          <!-- <ion-icon name="clipboard-outline"></ion-icon> -->
      </ion-input>

      </ion-item>
      <p></p>
      <p></p>
    
      <ion-button expand="block" shape="round" type="submit" [disabled]="!categoryForm.valid">
        Add
      </ion-button>
      </form>
  </div>
 <!-- <div class="ion-text-center"> <small>Already Have a Code?</small> <ion-label class="small_lbl" (click)="goToVerify()" color="danger"> PROCEED</ion-label> </div> -->
  <ion-spinner *ngIf="loading" name="crescent" class="ion-text-center"></ion-spinner>
</ion-content>
